/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0;
    padding: 0;
    background: #fff url(images/BodyImg.jpg.jpg) repeat-x;
    text-align: justify;
    font: 15px Arial,Helvetica,sans-serif;
    color: #626262;
    margin-left: 100px;
}

form {
    margin: 0;
    padding: 0;
}

input {
    padding: 5px;
    /* background: #fefefe url(images/img13.gif) repeat-x; */
    /* border: 0 solid #626262; */
    /* font: normal 1em Arial,Helvetica,sans-serif; */
    width: 260px
}

h1, h1 a, h2, h2 a, h3, h3 a {

    text-decoration: none;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #444444;
}

h1 {
    letter-spacing: -1px;
    font-size: 2.2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    letter-spacing: -1px;
    font-size: 2em;

}

h3 {
    font-size: 1em;
}

p, ol, ul {
    margin-bottom: 2em;
    line-height: 200%;
}

blockquote {
    margin: 0 0 0 1.5em;
    padding-left: 1em;
    border-left: 5px solid #DDDDDD;
}

a {
    color: #1692B8;
}

a:hover {
    text-decoration: none;
}

/* Header */

div.header {
    height: 42px;
}

div.logo h1, div.logo p {
    float: left;
    text-transform: lowercase;
}

div.logo h1 {
    padding: 0px 0 0 40px;
}

div.logo p {
    margin: 0;
    padding: 14px 0 0 4px;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.logo a {
    position: absolute;
    text-decoration: none;
    color: #e00718;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    top: 79px;
    margin-left: 0px;
}

div.menu {

}

div.menu ul {
    list-style: none;
    margin: 0 0 0 180px;
/* padding: 20px 0 0 25px;*/
}

div.menu li {
    list-style: none;
    float: left;
    position: relative;
    z-index: 9;
}

div.menu a {
    color: rgb(224, 7, 24);
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 60px;
    text-decoration: none;
}


div.menu .last {
    margin-right: 20px;
}

div.menu a:hover {
    color: #FFFFFF;
}

div.menu .current_page_item A {
    text-decoration: underline;
}

div.menu .current_page_item a {
}

/* Page */

div.page {
    padding: 40px 40px 0 40px;
}

/* Content */

div.content {
    margin-right: 340px;
}

.post {
    margin-bottom: 10px;
}

.post .title {
    border-bottom: 1px #999999 dashed;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
}

.post .title h2 {
    padding: 30px 30px 0 0;
    /* font-weight: normal; */
    /* font-size: 2.2em; */
    /* font-style: inherit; */
    font: 43px/24px 'RockwellMT-Bold',Georgia,"Bitstream Charter","Century Schoolbook L","Liberation Serif",Times,serif;
    text-align: center;
}

.post .title p {
    margin: 0;
    padding: 0 0 10px 0px;
    line-height: normal;
    color: #BABABA;
}

.post .title p a {
    color: #BABABA;
}

.post .entry {
    padding: 20px 0px 20px 0px;
}

.post .links {
    margin: 0;
    padding: 0 30px 30px 0px;
}

.post .links a {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .links a:hov  er {
}

.post .links .more {
    width: 128px;
    height: 30px;
    background: url(images/img03.jpg) no-repeat left center;
}

.post .links .comments {
    width: 152px;
    height: 30px;
    background: url(images/img04.jpg) no-repeat left center;
}

/* Sidebar */

div.sidebar {
    float: right;
    width: 300px;
    margin-top: 30px;
}

div.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.sidebar li {
    margin-bottom: 10px;
    background: url(images/img10.gif) no-repeat left bottom;
}

div.sidebar li ul {
    padding: 0 30px 40px 30px;
}

div.sidebar li li {
    margin: 0;
    padding-left: 20px;
}

div.sidebar h2 {
    padding: 30px 30px 5px 10px;
    background: url(images/img09.gif) no-repeat;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 1.6em;
    color: #302D26;
}

div.sidebar DIV.sidebar-content {
    width: 265px;
    margin-left: 10px;
    padding-bottom: 1px;
}

/* Search */

li.search {
    padding: 20px 30px 40px 30px;
}

li.search input {
    padding: 0;
    width: 70px;
    height: 29px;
    background: #DFDFDF url(images/img14.gif) repeat-x;
    font-weight: bold;
}

li.search #s {
    padding: 5px;
    width: 150px;
    height: auto;
    background: #FEFEFE url(images/img13.gif) repeat-x;
    border: 1px solid #626262;
    font: normal 1em Arial, Helvetica, sans-serif;
}

li.search br {
    display: none;
}

/* Categories */

div.sidebar div.categories li {
    background: url(images/img12.gif) no-repeat left center;
}

/* Calendar */

div.calendar_wrap {
    padding: 0 30px 40px 30px;
}

div.calendar table {
    width: 100%;
    text-align: center;
}

div.calendar thead {
    background: #F1F1F1;
}

div.calendar tbody td {
    border: 1px solid #F1F1F1;
}

div.calendar #prev {
    text-align: left;
}

div.calendar #next {
    text-align: right;
}

div.calendar tfoot a {
    text-decoration: none;
    font-weight: bold;
}

div.calendar #today {
    background: #FFF3A7;
    border: 1px solid #EB1400;
    font-weight: bold;
    color: #EB1400
}

/* Footer */

div.footer {
    padding: 70px 0 50px 0;
    background: #757575 url(images/img08.gif) repeat-x;
}

div.footer p {
    margin-bottom: 1em;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    color: #BABABA;
}

div.footer a {
    padding: 0 20px;
    text-decoration: none;
    color: #DDDDDD;
}

div.footer a:hover {
    color: #FFFFFF;
}

div.footer .rss {
    background: url(images/img18.gif) no-repeat left center;
}

div.footer .xhtml {
    background: url(images/img19.gif) no-repeat left center;
}

div.footer .css {
    background: url(images/img20.gif) no-repeat left center;
}

div.footer .legal a {
    padding: 0;
}

.basket-pic{
    background: url(images/basket.jpg) repeat-x;
    width: 45px;
    height: 45px;
    background-size: 100% auto;
    margin-right: 0;
    position: fixed;
    right: 15px;
    top: 83px;
}

.pizza-logo {
    background: url(images/pizza.jpg) repeat-x;
    width: 53px;
    height: 83px;
    background-size: 100% auto;
    margin: auto;
    margin-top: 0;
    left: 26px;
    position: absolute;
    top: -56px;
    /* left: 140px; */
    z-index: 10;
}



DIV.but-save{
    padding: 4px 0 2px 0;
    color: green;
}


DIV.t-beaneditor {
    display: block;
    background: #FFF;
    border: 0px outset brown;
    padding: 2px;
    font-family: "Trebuchet MS",Arial,sans-serif;

}

DIV.t-beaneditor-row {
    padding: 9px 0px 3px 0px;
    margin-left: auto;
    text-align: left;
}
DIV.t-beaneditor-row LABEL{
    width: 105px;
    display: block;
    float: left;
    text-align: right;
    clear: left;
    padding-right: 3px;
    vertical-align: middle;
    text-align: -webkit-left;
}

DIV.t-data-grid {
    font-family: "Trebuchet MS",Arial,sans-serif;
}
DIV.t-data-grid-pager {
    margin: 31px 0;
}
DIV.t-data-grid-pager SPAN.current {
    color: white;
    background-color: #23B14D;
}
TABLE.t-data-grid THEAD TR TH {
    text-align: left;
    padding: 3px;
    white-space: nowrap;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

table.t-data-grid {
    font-family: "Trebuchet MS",Arial,sans-serif;
}

TABLE.t-data-grid {
    border-collapse: collapse;
    border-left: 1px solid silver;
}
TABLE.t-data-grid TBODY TR TD {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 2px;
}
#bloktopmenu {
    /*background-color: #000; */
    position: absolute;
    width: 1200px;
    max-width: 1200px;
    min-width: 1024px;
    /* height: 80px; */
    margin: 0 auto;
    background-color: rgb(34, 177, 76);
    margin-top: 25px;
    /*background: #fff url(images/BodyImg.jpg) repeat-x;*/
}
#top-menu {
    list-style: none;
    margin: 0px 0 0 180px;
    padding: 20px 0 0 25px;
}
#top-menu > li {
    list-style: none;
    float: left;
    position: relative;
    z-index: 9;
}
#top-menu > li > a {
    color: #FFF;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 14px;
    text-decoration: none;
}